<?xml version='1.0' encoding='utf-8'?>
<configuration>
	<connectionStrings>
		<clear />
		<add name="Lacalhost_connection"
		 providerName="System.Data.SqlClient"
		 connectionString="Server = localhost; Database = Service; User Id = sa; Password = MSSQLserver1991; Trusted_Connection = true;" />
	</connectionStrings>
</configuration>
